<section class="contact-us" id="contact">
    <div class="container" style="padding-bottom: 26px;">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Hadi, Merak Ettiğini Sor!</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Adın" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mailin" required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Başlık" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Mesajınız" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Gönder</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3" style="padding-top: 30px;">
          <div class="right-info">
            <ul>
              <li>
                <h6>Numaramız</h6>
                <span>+90 236 314 00 00</span>
              </li>
              <li>
                <h6>Mail Adresimiz</h6>
                <span>seen@gmail.com</span>
              </li>
              <li>
                <h6>Adres</h6>
                <span>Acarlar Mah. Şehit Ali Karakuzu Sk. No:10 Turgutlu/MANİSA.</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>seen.org</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>