<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <a routerLink="/" class="logo">
                      Seen Companies
                  </a>
                  <ul class="nav">
                      <li><a routerLink="/anasayfa">Anasayfa</a></li>
                      <li><a routerLink="/urunler" >Ürünler</a></li>
                      <li><a routerLink="/donusumkutusu">Dönüşüm Kutusu</a></li> 
                      <li><a routerLink="/cuzdan">Cüzdan</a></li> 
                      <li><a routerLink="/iletisim">İletişim</a></li> 
                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
              </nav>
          </div>
      </div>
  </div>
</header>