 <!-- ***** Main Banner Area Start ***** -->
 <section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
      <source src="../../../assets/images/course-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
      <div class="container" style="padding-left: 50px;">
        <div class="row">
          <div class="col-lg-12">
          <div class="caption">
          <h6>Merhaba çevredostu,</h6>
          <h2>Recycle Geridönüşüm'e Hoşgeldin :)</h2>
          <p>Projemizin amacı toplumu geridönüşüm hakkında bilinçlendirirken aynı zamanda blockchain ağını kullanarak topluma ekonomik katkı sağlamak.</p>
          <div class="main-button-red">
       <a href="/urunler">Dönüşüme Başla!</a>
      </div>
      </div>
       </div>
      </div>
    </div>
  </div>
  
</section>



<section class="contact-us" id="contact">
<div class="container" style="padding-left: 50px;">
  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="section-heading">
          <h2>Karbon Ayak İzimiz</h2>
        </div>
        <div class="col-lg-12">
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col" colspan="4" style="text-align: center;">Dünya Sıralamasında Biz</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Şehir</th>
                <th>Nüfus</th>
                <th>Ortalama Kişi Başı CO2 Salınımı (Ton)</th>
                <th>Dünya Sıralaması</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let city of cities|async">
                <td>{{city.city}}</td>
                <td>{{city.population}}</td>
                <td>{{city.averagePerPerson}}</td>
                <td>{{city.worldRanking}}</td>
    
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col" colspan="4" style="text-align: center;">Bazı Ürünlerin CO2 İzi</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Kategori</th>
                <th>CO2 Salınımı</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let product of products|async">
                <td>{{product.Category}}</td>
                <td>{{product.Quantity}}</td>
               
              </tr>
            </tbody>
  
          </table>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-9 align-self-center">
      <div class="row">
        <div class="col-lg-12">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <h2>Hadi, Merak Ettiğini Sor!</h2>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <input name="name" type="text" id="name" placeholder="Adın" required="">
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mailin" required="">
              </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <input name="subject" type="text" id="subject" placeholder="Başlık" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Mesajın" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Gönder</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3" style="padding-left: 55px;">
      <div class="right-info" >
        <ul>
          <li>
            <h6>Numaramız</h6>
            <span>+90 236 314 00 00</span>
          </li>
          <li>
            <h6>Mail Adresimiz</h6>
            <span>seen@gmail.com</span>
          </li>
          <li>
            <h6>Adres</h6>
            <span>Acarlar Mah. Şehit Ali Karakuzu Sk. No:10 Turgutlu/MANİSA.</span>
          </li>
          <li>
            <h6>Website URL</h6>
            <span>seen.org</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</section>

