<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Atıkları çöpe göndermeyin, geri dönüşüme gönderin.</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Adet</th>
                    <th scope="col">Ürün Fiyatı</th>
                    <th scope="col">Toplam</th>
                    <th scope="col"> </th>

                  </tr>
                </thead>
                <tbody *ngFor="let cartItem of cartItems">
                  <tr>
                    <td>{{cartItem.product.productName}}</td>
                    <td>{{cartItem.quantity}}</td>
                    <td>{{cartItem.product.unitPrice |convertCarbonPrice}} Carbon</td>
                    <td *ngIf="cartItem.price<= 0.00001">{{cartItem.price |convertCarbonPrice}} Carbon </td>
                    <td *ngIf="cartItem.price> 0.00001">{{cartItem.price}} RCT </td>
                    <td><button (click)="calculateTotalPrice()" (click)="removeFromCart(cartItem.product)" class="btn btn-outline-danger"  type="button" >Kaldır</button></td>
                  </tr>
                </tbody>
              </table>
              <h5  style="float: right; position: relative;">{{totalPrice}} RCT</h5>
              <br>
              <br>

              <form  [formGroup]="transferForm">
              
                <div class="form-group">
                  <input type="text"
                  id="receiverAddress"
                  formControlName="receiverAddress" class="form-control"
                  placeholder="Gönderilecek Addres"/>
              </div>  
               <button (click)="adminTransfer()" class="btn btn-outline-success" type="button" style="float: right;">Ödeme Talebinde Bulun</button> 
            </form>

              <!-- <input type="text" class="form-control" placeholder="Lütfen Ödeme Yapılalcak Cüzdan Adresini Girin." style="width: 500px; float: right;" >
              <br>
              <br>
              <button  class="btn btn-outline-success" type="button" style="float: right;">Ödeme Talebinde Bulun</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
 
  </section>


  